<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.database.mapper.DepartmentsMapper">

    <resultMap id="BaseResultMap" type="org.example.database.entity.Departments">
            <id property="dzxDepartmentId" column="dzx_department_id" />
            <result property="dzxDepartmentName" column="dzx_department_name" />
    </resultMap>

    <sql id="Base_Column_List">
        dzx_department_id,dzx_department_name
    </sql>
</mapper>
