<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.database.mapper.DepartmentsMapper">

    <resultMap id="BaseResultMap" type="org.example.database.entity.Departments">
            <id property="dzxDid" column="dzx_did" />
            <result property="dzxDname" column="dzx_dname" />
    </resultMap>

    <sql id="Base_Column_List">
        dzx_did,dzx_dname
    </sql>
</mapper>
