<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.database.mapper.TeachersMapper">

    <resultMap id="BaseResultMap" type="org.example.database.entity.Teachers">
            <id property="teacherNumber" column="dzx_teacher_number" />
            <result property="teacherName" column="dzx_teacher_name" />
            <result property="teacherGender" column="dzx_teacher_gender" />
            <result property="teacherAge" column="dzx_teacher_age" />
            <result property="teacherTitle" column="dzx_teacher_title" />
            <result property="teacherPhone" column="dzx_teacher_phone" />
            <result property="hireDate" column="dzx_hire_date" />
            <result property="teacherStatus" column="dzx_teacher_status" />
            <result property="teacherEmail" column="dzx_teacher_email" />
    </resultMap>

    <sql id="Base_Column_List">
        dzx_teacher_number,dzx_teacher_name,dzx_teacher_gender,dzx_teacher_age,dzx_teacher_title,dzx_teacher_phone,
        dzx_hire_date,dzx_teacher_status,dzx_teacher_email
    </sql>
</mapper>
